<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>foreignbuddy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>21C48EB01EB361E700936EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C48EC61EB361E800936EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21C48ED11EB361E800936EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
