<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ForeignBuddyIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2114EFEE1ECB067C00D2CECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2114F0041ECB067C00D2CECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2114F00F1ECB067C00D2CECA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
